.landing {
  padding: 10px;
  margin: 30px;
  color: rgb(57, 57, 57);
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 10px;
  font-family: "Quicksand", sans-serif;
}
.menu-icon {
  position: fixed;
  top: 0;
  right: 0;
  width: 60px;
  height: 60px;
  background-color: rosybrown;
  background-image: url("../image/ico-menu.svg");
  background-repeat: no-repeat;
  background-position: center;
  z-index: 999;
}

.resume {
  font-size: 20px;
  margin: 0 7rem 0 7rem;
  font-weight: 300;
}

.logo-my {
  width: 100px;
  margin: 0;
}

.education,
.extra {
  display: flex;
  text-align: center;
  align-items: center;
  padding: 20px;
  margin: 20px;
  width: 900px;
  column-gap: 20px;
  color: aliceblue;
}

.education-1 {
  width: 250px;
  background-color: rgb(233, 172, 172);
  padding: 30px;
}

.education-2 {
  width: 250px;
  background-color: salmon;
  padding: 20px;
}

.education-3 {
  width: 250px;
  background-color: rgb(225, 90, 142);
  padding: 20px;
}
.education-4 {
  width: 250px;
  background-color: rgb(128, 128, 49);
  padding: 21px;
}
.section-3 {
  display: flex;
  flex-direction: row;

  width: 90%;
}
.projects {
  margin: 100px 10px 100px 100px;
  display: grid;
  text-align: center;
  align-items: center;
  padding: 55px 55px 55px 10px;
  background-color: rgb(206, 132, 110);
  width: 600px;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  color: aliceblue;
  border-radius: 15px;
  font-weight: 300;
}
.workteam {
  margin: 100px 100px 100px 10px;

  width: 300px;

  color: grey;
  border-radius: 20px;
  font-weight: 300;
}

.profile-emoji {
  font-size: 25px;
  font-weight: 600;
  font-family: montserrat alternates;
}
.field1 {
  position: absolute;
  text-transform: uppercase;
  margin: 40px 0px 0px 150px;
  font-size: 25px;
  font-weight: 600;
  font-family: montserrat alternates;
}
.field2 {
  position: absolute;
  text-transform: uppercase;
  margin: 40px 0px 0px 830px;
  font-size: 25px;
  font-weight: 600;
  font-family: montserrat alternates;
}

.project-title {
  font-size: 14px;
  font-weight: 600;
  font-family: montserrat alternates;
}

.rick-morty,
.pokemon,
.netflix,
.anonimus,
.random {
  border-radius: 200px;
  width: 80px;
  height: 80px;
  transition: 0.5s;
}

.yummin {
  width: 180px;
}
.ohmyworld {
  width: 100px;
}

.heroku {
  width: 80px;
  margin-top: 70px;
}

.marcelafoto {
  width: 136px;
  border-radius: 250px;
}

.rick-morty:hover,
.pokemon:hover,
.netflix:hover,
.anonimus:hover,
.random:hover {
  box-shadow: 0 0 10px white, 0 0 40px white, 0 0 80px white;
}

.extra {
  display: flex;
  text-align: center;
  align-items: center;
  width: 1000px;
  column-gap: 0px;
  color: aliceblue;
}

.extra-1 {
  width: 250px;
  background-color: rgba(4, 103, 78, 0.516);
  padding: 40px;
}

.extra-2 {
  width: 250px;
  background-color: rgb(48, 132, 138);
  padding: 72px;
}

.extra-3 {
  width: 250px;
  background-color: rgba(36, 179, 143, 0.509);
  padding: 50px;
}
.footer {
  width: 100vw;
  height: 465px;
  background-color: #304268;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.footer__nav {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  transform: translateY(-45px);
}

.footer__nav__1 {
  margin-top: 60px;
}
.footer__nav__2 {
  margin-top: 30px;
}

.footer__copy {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.footer__text,
.footer__year {
  font-size: 14px;
  line-height: 2.14;
}

/* eleven code animation */

.animation {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 250px;
  padding-top: 175px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.etiqueta1 {
  width: 45px;
  animation-name: left;
  animation-duration: 3s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
  position: absolute;
}
@keyframes left {
  0% {
    transform: translatex(0px) translatey(0px);
  }
  100% {
    transform: translatex(-150px) rotate(120deg);
  }
}

.nombre-logo {
  width: 200px;
  animation-name: intro;
  animation-duration: 15s;
  animation-fill-mode: forwards;
  position: absolute;
}
.logosimple {
  width: 175px;
  visibility: hidden;
  animation-name: final;
  animation-duration: 2s;
  animation-delay: 5s;
  animation-fill-mode: forwards;
  position: absolute;
}
@keyframes final {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateX(-110px);
    visibility: visible;
  }
}
@keyframes intro {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.etiqueta2 {
  width: 45px;
  animation-name: right;
  animation-delay: 1s;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  position: absolute;
}
@keyframes right {
  0% {
    transform: translatex(0px) translatey(0px);
  }
  100% {
    transform: translatex(-180px) translatey(0px) rotate(-60deg);
  }
}
.logosimple {
  width: 130px;
  position: absolute;
}
