.landing {
  padding: 0px;
  margin: 0px;
  color: rgb(57, 57, 57);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Quicksand", sans-serif;
  background-image: url("../image/brown-paper-texture-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: inherit;
}

.menu-icon {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 60px;
  height: 60px;
  background-color: rgb(209, 247, 152);
  background-image: url("../image/ico-menu.svg");
  background-repeat: no-repeat;
  background-position: center;
  z-index: 999;
}

.fa-solid {
  color: rgb(75, 75, 75);
  margin: 10px 10px 10px 10px;
}

.fa-solid:hover {
  box-shadow: 0 0 20px greenyellow, 0 0 50px greenyellow, 0 0 90px greenyellow;
}

.name-title {
  font-family: montserrat alternates;
  font-size: 40px;
  margin: 110px 50px 20px 50px;
}

.resume {
  font-size: 20px;
  margin: 0 7rem 2rem 7rem;
  font-weight: 300;
}

.education,
.extra {
  display: flex;
  text-align: center;
  align-items: center;
  padding: 20px;
  margin: 10px;
  width: 900px;
  column-gap: 20px;
  color: aliceblue;
}

.education-1 {
  width: 250px;
  background-color: rgb(233, 172, 172);
  padding: 30px;
}

.education-2 {
  width: 250px;
  background-color: salmon;
  padding: 20px;
}

.education-3 {
  width: 250px;
  background-color: rgb(225, 90, 142);
  padding: 20px;
}
.education-4 {
  width: 250px;
  background-color: rgb(128, 128, 49);
  padding: 21px;
}
.section-3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
}
.projects {
  margin: 30px;
  padding: 80px;
  display: grid;
  text-align: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.557);
  width: 70%;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  border-radius: 20px;
  font-weight: 300;
}
/* .workteam {
  margin: 50px;
  background-color: rgb(252, 252, 252);
  width: 70%;
  height: 600px;
  color: grey;
  border-radius: 20px;
  font-weight: 300;
} */

.profile-emoji {
  font-size: 20px;
  font-weight: 300;
}
.field1 {
  position: absolute;
  text-transform: uppercase;
  margin: 160px 0px 0px -1100px;
  font-size: 20px;
  font-weight: 600;
  font-family: montserrat alternates;
  transform: rotate(-90deg);
}
.field2 {
  position: absolute;
  text-transform: uppercase;
  margin: 650px 0px 0px -170px;
  font-size: 20px;
  font-family: montserrat alternates;
  font-weight: 600;
  transform: rotate(-90deg);
}

.project-title {
  font-size: 14px;
  font-weight: 600;
  font-family: montserrat alternates;
}

.rick-morty,
.pokemon,
.netflix,
.anonimus,
.random,
.yummin {
  border-radius: 200px;
  width: 70px;
  height: 70px;
}

.ohmyworld {
  width: 104px;
}

.heroku {
  width: 50px;
  margin-top: 70px;
}

.marcelafoto {
  width: 120px;
  border-radius: 250px;
  box-shadow: 0 0 10px rgb(199, 232, 149), 0 0 5px rgb(214, 245, 172),
    0 0 5px rgb(212, 243, 161);
}

.extra {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  column-gap: 0px;
  width: 80%;
}
.extra-title {
  text-transform: uppercase;
  margin: 10px 0 70px 0;
  font-family: montserrat alternates;
  text-shadow: none;
}

.extra-1 {
  width: 500px;
  height: 200px;
  background-color: rgb(4, 103, 78);
  padding: 30px 10px 100px 10px;
}

.extra-2 {
  width: 500px;
  height: 200px;
  background-color: rgb(48, 132, 138);
  text-shadow: rgb(191, 176, 176) 0.1em 0.1em 0.2em;
  padding: 30px 10px 100px 10px;
}

.soft-skills1 {
  font-size: 25px;
  transform: rotate(-90deg) translateX(-30px) translateY(-160px);
}
.soft-skills2 {
  font-size: 20px;
  transform: translateX(-10px) translateY(-40px);
}
.soft-skills3 {
  font-size: 15px;
  transform: translateX(40px) translateY(-30px);
}

.soft-skills4 {
  font-size: 21px;
  transform: translateX(30px) translateY(-20px);
}
.soft-skills5 {
  font-size: 20px;
  transform: rotate(-90deg) translateX(80px) translateY(180px);
}

.soft-skills6 {
  font-size: 15px;
  transform: translateX(130px) translateY(-250px);
}
.footer {
  width: 100vw;
  height: 465px;
  background-color: #304268;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.footer__nav {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  transform: translateY(-45px);
}

.footer__nav__1 {
  margin-top: 60px;
}
.footer__nav__2 {
  margin-top: 30px;
}

.footer__copy {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.footer__text,
.footer__year {
  font-size: 14px;
  line-height: 2.14;
}

/* eleven code animation */

.animation {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 260px;
  padding-top: 130px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.etiqueta1 {
  width: 45px;
  animation-name: left;
  animation-duration: 3s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
  position: absolute;
}
@keyframes left {
  0% {
    transform: translatex(0px) translatey(0px);
  }
  100% {
    transform: translatex(-130px) rotate(120deg);
  }
}

.nombre-logo {
  margin-left: -80px;
  width: 200px;
  animation-name: intro;
  animation-duration: 15s;
  animation-fill-mode: forwards;
  position: absolute;
}
.logosimple {
  width: 175px;
  visibility: hidden;
  animation-name: final;
  animation-duration: 2s;
  animation-delay: 5s;
  animation-fill-mode: forwards;
  position: absolute;
}
@keyframes final {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateX(-90px);
    visibility: visible;
  }
}
@keyframes intro {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.etiqueta2 {
  width: 45px;
  animation-name: right;
  animation-delay: 1s;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  position: absolute;
}
@keyframes right {
  0% {
    transform: translatex(0px) translatey(0px);
  }
  100% {
    transform: translatex(-160px) translatey(0px) rotate(-60deg);
  }
}
.logosimple {
  width: 130px;
  position: absolute;
}
