.landing {
  margin: 20px;
  color: black;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: solid 3px gray;
  border-radius: 20px;
  font-family: "Quicksand", sans-serif;
}

.resume {
  font-size: 16px;
  margin: 0 7rem 0 7rem;
}

.logo-my {
  width: 200px;
  margin: 0;
}

.profile-emoji {
}

.education {
  display: flex;
  text-align: center;
  align-items: center;
  padding: 20px;
  width: 900px;
  column-gap: 20px;
  color: aliceblue;
}

.btn-neon {
  width: 255px;
  transition: 0.5s;
  border-radius: 150px;
}

.btn-neon:hover {
  background: #e4e29d;
  box-shadow: 0 0 10px #e4e29d, 0 0 40px #a945c7, 0 0 80px #a945c7;
}

.education-1 {
  width: 250px;
  background-color: rgb(233, 172, 172);
  padding: 20px;
}

.education-2 {
  width: 250px;
  background-color: salmon;
  padding: 20px;
}

.education-3 {
  width: 250px;
  background-color: rgb(225, 90, 142);
  padding: 20px;
}
.education-4 {
  width: 250px;
  background-color: rgb(128, 128, 49);
  padding: 20px;
}
.projects {
  display: grid;
  text-align: center;
  align-items: center;
  padding: 20px;
  width: 300px;
  background-color: rgb(146, 146, 70);
  column-gap: 20px;
  width: 900px;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  color: aliceblue;
  border-radius: 25px;
}

.rick-morty {
  border-radius: 100px;
  height: 100px;
  transition: 0.5s;
}

.rick-morty:hover {
  box-shadow: 0 0 10px #e4d296, 0 0 40px #e4d296, 0 0 80px #e4d296;
}
